
@{
    ViewBag.Title = "Service";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="product-section">
    <section class="container">
        <div class="title"><span>OUR</span> Services</div>
        <div class="row">

            <div class="col-lg-3 col-md-4 col-sm-6 col-6">

                <div class="product-title">
                    <div class="title-description">
                        <h5>Analyzing and identifying faults in broken computers</h5>

                    </div>
                    <div class="price-card mt-3">
                        <span class="cart">
                            <a href="">Contact us</a>
                        </span>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-6 col-6">

                <div class="product-title">
                    <div class="title-description">
                        <h5>Format and Install the required operating systems on devices</h5>

                    </div>
                    <div class="price-card mt-3">
                        <span class="cart">
                            <a href="">Contact us</a>
                        </span>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-6 col-6">

                <div class="product-title">
                    <div class="title-description">
                        <h5>Program installation</h5>

                    </div>
                    <div class="price-card mt-3">
                        <span class="cart">
                            <a href="">Contact us</a>
                        </span>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-6 col-6">

                <div class="product-title">
                    <div class="title-description">
                        <h5>hardware upgrade</h5>

                    </div>
                    <div class="price-card mt-3">
                        <span class="cart">
                            <a href="">Contact us</a>
                        </span>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-6 col-6">

                <div class="product-title">
                    <div class="title-description">
                        <h5>Download and update drivers and operating system.</h5>

                    </div>
                    <div class="price-card mt-3">
                        <span class="cart">
                            <a href="">Contact us</a>
                        </span>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-6 col-6">

                <div class="product-title">
                    <div class="title-description">
                        <h5>recovery of deleted data</h5>

                    </div>
                    <div class="price-card mt-3">
                        <span class="cart">
                            <a href="">Contact us</a>
                        </span>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-6 col-6">

                <div class="product-title">
                    <div class="title-description">
                        <h5>Lorem ipsum</h5>

                    </div>
                    <div class="price-card mt-3">
                        <span class="cart">
                            <a href="">Contact us</a>
                        </span>
                    </div>
                </div>
            </div>

            <div class="col-lg-3 col-md-4 col-sm-6 col-6">

                <div class="product-title">
                    <div class="title-description">
                        <h5>Lorem ipsum</h5>

                    </div>
                    <div class="price-card mt-3">
                        <span class="cart">
                            <a href="">Contact us</a>
                        </span>
                    </div>
                </div>
            </div>


        </div>

    </section>
</div>

