
@{
    ViewBag.Title = "GetAllUsedMachines";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<style>
.card {
        box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
        transition: 0.3s;
        width: 25%;
    }

        .card:hover {
            box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
        }

    .container {
        padding: 2px 16px;
    }

    .c-cap img {
        width: 100% !important;
        height: 100% !important;
    }


</style>

<!--begin::Toolbar-->
<div id="kt_app_toolbar" class="app-toolbar py-3 py-lg-6">
    <!--begin::Toolbar container-->
    <div id="kt_app_toolbar_container" class="app-container container-fluid d-flex flex-stack">
        <!--begin::Page title-->
        <div class="page-title d-flex flex-column justify-content-center flex-wrap me-3">
            <!--begin::Title-->
            <h1 class="page-heading d-flex text-dark fw-bold fs-3 flex-column justify-content-center my-0">Default</h1>
            <!--end::Title-->
            <!--begin::Breadcrumb-->
            <ul class="breadcrumb breadcrumb-separatorless fw-semibold fs-7 my-0 pt-1">
                <!--begin::Item-->
                <li class="breadcrumb-item text-muted">
                    <a href="../../demo1/dist/index.html" class="text-muted text-hover-primary">Home</a>
                </li>
                <!--end::Item-->
                <!--begin::Item-->
                <li class="breadcrumb-item">
                    <span class="bullet bg-gray-400 w-5px h-2px"></span>
                </li>
                <!--end::Item-->
                <!--begin::Item-->
                <li class="breadcrumb-item text-muted">Dashboards</li>
                <!--end::Item-->
            </ul>
            <!--end::Breadcrumb-->
        </div>
        <!--end::Page title-->

    </div>
    <!--end::Toolbar container-->
</div>



<!--end::Toolbar-->
<!--begin::Content-->
<div id="kt_app_content" class="app-content flex-column-fluid">
    <!--begin::Content container-->
    <div id="kt_app_content_container" class="app-container container-fluid">
        <div>


            <div class="product-section" style="background-color: white;">
                <section class="container">
                    <div class="row">

                        <div class="card col-lg-3 col-md-4 col-sm-6 col-6" style=" margin-right: 20px;">
                            <div class="product-banner c-cap">
                                <img src="~/Content/assets/images/computer.jpg" alt="">
                            </div>
                            <div class="product-title">
                                <div class="title-description">
                                    <h5>Lorem ipsum</h5>
                                    <p>Lorem ipsum</p>
                                    <ul id="" class="highlights text-left hidden-xs">
                                        <li>Ultra-Responsive Performance - Nvidia G-Sync Processor</li>
                                        <li>Anti-glare Bezel</li>
                                        <li>Intelligent Cooling System for 12% Lower Temperatures</li>
                                        <li>Silkly- Smooth And Crystal-Clear Gaemplay - NVIDIA Ultra Low Motion Blur</li>
                                    </ul>
                                </div>
                                <div class="price-card mt-3">
                                    <span class="cart">
                                        <a href="">View Details</a>
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
            </div>


        </div>
    </div>
    <!--end::Content container-->
</div>
<!--end::Content-->


