@model ComputerServicesWeb.Models.TypeModel
@{
    ViewBag.Title = "AddTypes";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<!--begin::Toolbar-->
<div id="kt_app_toolbar" class="app-toolbar py-3 py-lg-6">
    <!--begin::Toolbar container-->
    <div id="kt_app_toolbar_container" class="app-container container-fluid d-flex flex-stack">
        <!--begin::Page title-->
        <div class="page-title d-flex flex-column justify-content-center flex-wrap me-3">
            <!--begin::Title-->
            <h1 class="page-heading d-flex text-dark fw-bold fs-3 flex-column justify-content-center my-0">Default</h1>
            <!--end::Title-->
            <!--begin::Breadcrumb-->
            <ul class="breadcrumb breadcrumb-separatorless fw-semibold fs-7 my-0 pt-1">
                <!--begin::Item-->
                <li class="breadcrumb-item text-muted">
                    <a href="../../demo1/dist/index.html" class="text-muted text-hover-primary">Home</a>
                </li>
                <!--end::Item-->
                <!--begin::Item-->
                <li class="breadcrumb-item">
                    <span class="bullet bg-gray-400 w-5px h-2px"></span>
                </li>
                <!--end::Item-->
                <!--begin::Item-->
                <li class="breadcrumb-item text-muted">Dashboards</li>
                <!--end::Item-->
            </ul>
            <!--end::Breadcrumb-->
        </div>
        <!--end::Page title-->

    </div>
    <!--end::Toolbar container-->
</div>
<!--end::Toolbar-->
<!--begin::Content-->
<div id="kt_app_content" class="app-content flex-column-fluid">
    <!--begin::Content container-->
    <div id="kt_app_content_container" class="app-container container-fluid">
        <div>

            @using (Html.BeginForm("AddTypes", "Admin", FormMethod.Post))
            {
                <div class="form-group">
                    <label for="typename" class="form-label">Write the Type Name Below:</label>
                    @Html.TextBoxFor(m => m.TypeName, new { type = "text", name = "typename", @class = "form-control ", placeholder = "Write the Type Name Here" })
                </div>
                <div class="form-group">
                    <label for="typename" class="form-label">:اكتب اسم النوع أدناه</label>
                    @Html.TextBoxFor(m => m.ArabicTypeName, new { type = "text", name = "arabictypename", @class = "form-control ", placeholder = "اكتب اسم النوع أدناه", dir = "rtl" })
                </div>
                <br />
                <div class="text-center pt-15">
                    <button type="submit" class="btn btn-primary">ADD Type/نوع الإضافة</button>
                </div>

            }
        </div>
    </div>
    <!--end::Content container-->
</div>
<!--end::Content-->
